.index-salgados {
  overflow-x: hidden;
  background-color: #37622d;
  padding-top: 2rem;
}
.container-salgadosEdoces {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.voltar-salgados {
  text-decoration: none;
  font-family: "Roboto condensed", sans-serif;
  color: #010101;
  background-color: #fff;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 400;
  border: solid 2px #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}
