* {
  padding: 0;
  margin: 0;
}
.main-home {
  overflow-x: hidden;
}
.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  background-color: #fafafa;
  color: #000000;
  border: none;
  padding: 0.3rem;
  transition: 0.4s ease;
  border-radius: 5px;
  border: solid 1px black;
  cursor: pointer;
  z-index: 999;
}

.scroll-button:hover {
  background-color: #a3e1aa;
  color: #fff;
  transform: translateY(-5px);
}
