.section-parceiros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 6rem 0;
}

.section-parceiros h3 {
  font-family: "handlee", cursive;
  font-size: 3rem;
}

.section-parceiros h4 {
  font-family: "handlee", cursive;
  font-size: 2rem;
}

.cards-parceiros {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  overflow: hidden;
  width: 100%;
}

.card-parceiros {
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(100%);
}

.card-parceiros.active {
  filter: grayscale(0%);
}

.card-parceiros img {
  width: 12rem !important;
  height: auto !important;
}

@media (max-width: 768px) {
  .cards-parceiros {
    flex-direction: row;
    gap: 1rem;
  }

  .card-parceiros {
    transform: none;
  }

  .card-parceiros.active {
    filter: grayscale(0%);
  }
}
