.section-salgados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.container-sombra-salgados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.674);
  padding: 1rem 5rem;
  border-radius: 10px;
}
.icons-off {
  color: #fff;
  display: flex;
  gap: 1rem;
  justify-content: center;
  border: solid 1px #fff;
  padding: 0.55rem;
  border-radius: 10px;
}
.icons-off h4 {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-family: "Playwrite IT Moderna", cursive;
  font-size: 0.8rem;
}
.icons-off .icon-off {
  font-size: 1rem;
}
.salgados-icons {
  display: flex;
  gap: 1rem;
}
.article-salgados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Playwrite IT Moderna", cursive;
  gap: 1rem;
}
.article-salgados h2 {
  font-size: 2.5rem;
}
.article-salgados h3 {
  font-size: 1.8rem;
  text-align: center;
}
.card-salgados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  gap: 2rem;
}
.salgados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  font-family: "Playwrite IT Moderna", cursive;
  border: solid 1px #fff;
  padding: 1rem;
  border-radius: 15px;
}
.doces {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  font-family: "Playwrite IT Moderna", cursive;
  border: solid 1px #fff;
  padding: 1rem;
  border-radius: 15px;
}
.doces p {
  width: 34.8rem;
  text-align: center;
}
.salgados-image {
  width: 15rem;
}
.buttons-salgados {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.button-salgado {
  padding: 0.5rem;
  border: none;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}
.button-salgado:hover {
  background-color: #c4bdbd;
  transform: scale(1.1);
}
.quantity-salgados {
  color: #fff;
}
.pedir-salgados {
  border: none;
  padding: 1rem 2rem;
  background-color: rgb(240, 245, 240);
  font-family: "Open sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #040303;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.4s ease;
}
.pedir-salgados:hover {
  background-color: #37622d;
  color: #fff;
}
.pedir-salgados:disabled {
  background-color: #a8f3a7;

  padding: 1rem 2rem;
  cursor: no-drop;
}
@media (max-width: 768px) {
  .container-sombra-salgados {
    background-color: #ffffff00 !important;
  }
  .salgados {
    background-color: #040303a2;
  }
  .doces {
    background-color: #040303a2;
  }
  .article-salgados h2 {
    font-size: 2rem;
  }
  .article-salgados h3 {
    font-size: 1.4rem;
  }
  .doces p {
    width: 15rem;
    font-size: 0.9rem;
    text-align: center;
  }
  .salgados p {
    font-size: 0.9rem;
    text-align: center;
  }
  .salgados span {
    text-align: center;
    font-size: 0.8rem;
  }
  .doces span {
    text-align: center;
    font-size: 0.8rem;
  }
  .salgados-icons .icon-salgados {
    font-size: 1rem;
  }
  .icons-off {
    padding: 0.3rem;
    gap: 0.2rem;
  }
  .icons-off h4 {
    font-size: 0.6rem;
  }
  .icons-off .icon-off {
    font-size: 1.3rem;
  }
}
