.section-marmitas {
  background-image: url("../../../../assets/fundo-nutri.jpg");
  background-size: cover;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 8rem 2rem;
}
.article-marmitas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #58cd05;

  padding: 1rem;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.article-marmitas h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.article-marmitas h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
.article-marmitas h3 {
  font-size: 1.8rem;
}
.card-marmitas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4rem;
  border-radius: 15px;
}
.container-sombra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(5, 8, 4, 0.699);
  border-radius: 10px;
}
.marmita {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.marmita p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 5 00;
  width: 30rem;
}
.marmita span {
  color: #fff;
}
.button-marmita {
  background-color: #1d9206;
  border: none;
  border-radius: 10px;
  color: rgb(231, 231, 230);
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  transition: 0.4s ease;
  cursor: pointer;
}
.button-marmita:hover {
  background-color: #37bb1c;
  transform: scale(1.1);
}
.button-order {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  background-color: #20aa24;
  border: none;
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
  transition: 0.4s ease;
}
.button-order:hover {
  background-color: #4caf50;
  box-shadow: 0 0 20px 10px rgba(230, 224, 224, 0.634);
}
.button-order:disabled {
  background-color: #abb4ab;
  cursor: not-allowed;
  box-shadow: none;
}
.responsive-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.title-caldos {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .section-marmitas {
    padding: 4rem 1rem;
  }
  .article-marmitas h2 {
    font-size: 0.9rem;
    text-align: center;
  }
  .article-marmitas h3 {
    font-size: 0.8rem;
  }
  .container-sombra {
    padding: 1rem 0;
  }
  .card-marmitas {
    padding: 1rem;
  }
  .marmita {
    flex-direction: column;
    gap: 1rem;
  }
  .marmita p {
    font-size: 0.9rem;
    width: 11rem;
  }
}
