.section-card {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  gap: 2rem;
  flex-wrap: wrap; /* Adicionado para melhor ajuste em telas menores */
}

.container-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container-card p {
  font-family: "Roboto condensed", sans-serif;
  width: 15rem;
  text-align: left;
}

.icon-card {
  font-size: 2.5rem;
  color: darkgreen;
}

.carousel-card .slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-card .container-card {
  flex-direction: column; /* Ajusta a direção do card no carrossel */
  text-align: center;
}
.carousel-card .control-dots .dot {
  background-color: darkgreen; /* Cor das bolinhas não ativas */
}

.carousel-card .control-dots .dot.selected {
  background-color: green; /* Cor da bolinha ativa */
}
@media (max-width: 768px) {
  .section-card {
    padding: 1rem 2rem;
  }
}
